.whatsapp-button {
  position: fixed;
  z-index: 10;
  bottom: 4%;
  right: 2%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s ease-in-out,
    background-color 0.3s;
}

.whatsapp-button img {
  width: 100%;
  height: 100%;
  display: block;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  background-color: #1ebe5d;
}

@media (max-width: 768px) {
  .whatsapp-button {
    bottom: 16px;
    right: 16px;
    width: 42px;
    height: 42px;
  }
}
