.form-section {
  padding: 4.262% 0 2.131% 0;
}
.form-section h5 {
  line-height: 1.8;
}
.form-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1.137%;
}
.contact-form {
  display: block;
  flex-basis: 50%;
  padding: 0 4.262% 0 0;
}
.form-image {
  flex-basis: 50%;
}
.form-image img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding: 3.106% 0;
}
.form-group:first-of-type {
  padding-top: 0;
}

.form-group label {
  font-weight: 600;
  color: var(--tertiary-color);
}
.form-group input,
.form-group select,
.form-group option,
.form-group textarea {
  padding: 0.932%;
  border: 1px solid #cbc2b8;
  background-color: transparent;
  border-radius: 8px;
}
.form-group select,
.form-group option {
  padding: 1.553% 0.932%;
}
.form-group textarea {
  resize: none;
  height: 200px;
}
.form-group input::placeholder {
  opacity: 0.75;
}
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus,
button {
  outline: none;
}
.contact-form button {
  border: 1px solid var(--tertiary-color);
  background-color: var(--tertiary-color);
  display: block;
  width: 100%;
  padding: 2.485% 4.969%;
  color: var(--text-secondary-color);
  transition: background-color 0.3s ease-in-out;
  margin-top: 3.106%;
}
.contact-form button:hover {
  background-color: transparent;
  color: var(--tertiary-color);
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .form-section {
    padding: 20px 0;
  }
  .form-container {
    flex-direction: column-reverse;
    padding: 4px 0 0 0;
  }
  .contact-form {
    flex-basis: 100%;
    padding: 0;
  }
  .form-image {
    flex-basis: 100%;
    padding-bottom: 20px;
  }
  .form-image img {
    object-position: 50% 80%;
  }
  .form-group {
    padding: 8px 0;
  }
  .form-group input,
  .form-group select,
  .form-group option,
  .form-group textarea {
    padding: 4px;
  }
  .form-group select,
  .form-group option {
    padding: 6.4px 4px;
  }
  .form-group textarea {
    height: 120px;
  }
  .contact-form button {
    padding: 8px 16px;
    margin-top: 8px;
  }
}
