.home-projects {
  padding: 2.131% 0;
}
.projects-slider {
  padding: 0.569% 0 0 0;
}
.projects-slider .slick-list {
  padding: 0 20% 0 0 !important;
}
.projects-slider .slick-slide {
  padding: 0 60px 0 0;
}
.projects-slider .project-slide {
  outline: none;
}
.projects-cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.841%;
}
.projects-cta {
  background-color: var(--tertiary-color);
  color: var(--text-secondary-color);
  border: 1px solid var(--tertiary-color);
  transition:
    background-color 0.3s,
    color 0.3s ease-in-out;
  padding: 0.853% 3.978%;
  margin: auto;
  display: inline-block;
}
.projects-cta:hover {
  background-color: transparent;
  color: var(--tertiary-color);
  transition:
    background-color 0.3s,
    color 0.3s ease-in-out;
}

@media (max-width: 1400px) {
  .projects-slider .slick-slide {
    padding: 0 40px 0 0;
  }
}

@media (max-width: 1150px) {
  .projects-slider .slick-slide {
    padding: 0 32px 0 0;
  }
}

@media (max-width: 768px) {
  .projects-slider .slick-slide {
    padding: 0 20px 0 0;
  }
  .home-projects {
    padding: 20px 0;
  }
  .projects-slider {
    padding: 0;
  }
  .project-slide {
    display: block !important;
  }
  .projects-slider .slick-list {
    padding: 0 60px 0 0 !important;
  }
  .projects-cta-container {
    padding-top: 16px;
  }

  .projects-cta {
    padding: 8px 32px;
  }
}

ul.slick-dots {
  position: static;
  padding-top: 16px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
ul.slick-dots li {
  margin: 0;
  width: 8px;
  height: 8px;
  display: block;
  position: static;
  margin: 0 6px;
}
ul.slick-dots li button {
  border-radius: 100%;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  opacity: 0.8;
}

ul.slick-dots li button:before {
  display: none;
}

ul.slick-dots li.slick-active button {
  color: transparent;
  background-color: transparent;
}

@media (max-width: 768px) {
  ul.slick-dots {
    padding-top: 8px;
  }
  ul.slick-dots li {
    width: 6px;
    height: 6px;
    margin: 0 4px;
  }
}
