@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
}

:root {
  --primary-color: #5f3505;
  --secondary-color: #183545;
  --tertiary-color: #170d01;
  --background-color: #f7efe6;
  --secondary-background-color: #e8ddcf;
  --teritary-background-color: #daccbb;
  --text-color: #000000;
  --text-secondary-color: #ffffff;
  --heading-color: #000000;

  --font-base: 16px;
  --font-heading: 'Montserrat', serif;
  --font-body: 'Montserrat', serif;
}

body::-webkit-scrollbar,
.tax84oi::-webkit-scrollbar {
  display: none;
}

body {
  font-size: var(--font-base);
  font-family: var(--font-body);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  font-size: clamp(2.25rem, 3.8vw, 3.5rem);
  line-height: 1.2;
  font-weight: 700;
}
h6 {
  font-size: clamp(0.875rem, 1.2vw, 1.125rem);
  font-weight: 300;
  line-height: 1.8;
}
h2 {
  font-size: clamp(1.5rem, 2.7vw, 2.5rem);
  font-weight: 700;
  line-height: 1.2;
}
p,
label,
input,
textarea,
select,
option {
  font-size: clamp(0.875rem, 1.2vw, 1rem);
  font-weight: 300;
  line-height: 1.8;
}
a,
button {
  display: inline-block;
  font-size: clamp(0.875rem, 1.2vw, 1rem);
  line-height: 1;
  font-weight: 400;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
}
h3 {
  font-size: clamp(1.125rem, 1.7vw, 1.5rem);
  font-weight: 700;
  line-height: 1.2;
}
h5 {
  font-size: clamp(0.875rem, 1.2vw, 1.125rem);
  font-weight: 300;
  line-height: 1.5;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h6,
  h5 {
    font-size: 0.75rem;
    line-height: 1.8;
  }

  h2 {
    font-size: 1.5rem;
  }
  p,
  label,
  input,
  textarea,
  select,
  option {
    font-size: 0.75rem;
  }
  a,
  button {
    font-size: 0.75rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
