.approach-section {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 2.131% 0;
}
.approach-section-right {
  flex-basis: 35%;
}
.approach-section-left {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4.262% 0 0;
}
.approach-section-title {
  padding-bottom: 0.936%;
}
.approach-section-content {
  padding-bottom: 2.807%;
}
.approach-image-right,
.approach-image-left {
  display: block;
  width: 100%;
  height: 100%;
}
.approach-image-right img,
.approach-image-left img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

@media (max-width: 768px) {
  .approach-section {
    padding: 20px 0;
  }
  .approach-section-right {
    display: none;
  }
  .approach-section-left {
    flex-basis: 100%;
    flex-direction: column-reverse;
    padding: 0;
  }
  .approach-section-content {
    padding: 20px 0 0 0;
  }
  .approach-section-title {
    padding-bottom: 8px;
  }
}
